.tittle-2-contacts {
  margin-bottom: 20px;
  padding-top: 114px;
}

.contacts__subtittle {
  margin-bottom: 29px;

  font-family: Gilroy-Medium;
  font-size: 18px;

  line-height: 22px;
  text-align: center;

  color: #070707;
}

.contacts__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .contacts__btn {
    margin-bottom: 85px;
    padding: 10px 28px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */

    display: block;

    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;

    text-align: center;

    border-radius: 20px;
    border-style: none;

    color: #FFFFFF;
    background-color: #070707;

    cursor: pointer;
  }

.contacts__socials {
  margin-bottom: 45px;
  gap: 0 61px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

  .contacts__socials-in,
  .contacts__socials-instagram,
  .contacts__socials-be,
  .contacts__socials-dribble {
    width: 40px;
    height: 40px;
  }

  .contacts__socials-in {
    background-image: url(../img/footer/footer_in.svg);
    background-repeat: no-repeat;
  }

  .contacts__socials-instagram {
    background-image: url(../img/footer/footer_instagram.svg);
    background-repeat: no-repeat;
  }

  .contacts__socials-be {
    background-image: url(../img/footer/footer_be.svg);
    background-repeat: no-repeat;
  }

  .contacts__socials-dribble {
    background-image: url(../img/footer/footer_dribble.svg);
    background-repeat: no-repeat;
  }

.contacts__desc {
  padding-bottom: 123px;
  text-align: center;

  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #828282;
}